body{
	margin: 0px;
	font-family: Helvetica;

}

header, footer {
	background-color: #010111;
}

footer {
	padding: 20px;
}
.centerer {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
}

header a, header span, footer a {
	margin-left: 15px;
	vertical-align: middle;
}

header a, footer a{
	color: #bbbbbb;
	font-size: 14px;
	font-weight: 300;
}

header span {
	color: white;
	font-weight: 600;
	font-size: 18px;
	margin-left: 0px;
}


header a:hover {
	color: white;
}

main {
	background-color: #f0f0f0;
}

.panorama{
	background: linear-gradient(
          rgba(0, 0, 30, 0.8), 
          rgba(0, 0, 0, 0.8)
		),
		url("../images/pano.jpg");
	background-size: cover;
    height: 400px;
}

.panorama h1{
	margin-top: 100px;
	color: white;
	font-size: 60px;
	font-weight: 600;
	text-align: center;
}

.panorama p{
	color: white;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}

.linkbody .centerer {
	padding: 0px;
}

.buttonholder{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.linkbutton {
	background: linear-gradient(
          rgba(160, 160, 200, 1), 
          rgba(100, 100, 100, 1)
		);
	border: 2px solid #00000020;
	border-radius: 10px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	text-decoration: none;
	position: relative;
	height: 85px;
	width: 481px;
}

.linkbutton h4 {
	font-size: 30px;
	font-weight: 600;
	margin: 0px;
	margin-top: 20px;
	text-align: center;
	transition: 0.5s;
}
.linkbutton p {
	text-align: center;
	position: absolute;
	bottom: -20px;
	margin: 0px;
	transition: 0.5s;
}

.linkbutton p img {
	width: 70px;
	margin-left: 15px;
	margin-right: 15px;
	border: 4px solid #00000020;
	border-radius: 20px;
	opacity: 0;
	transition: 0.5s, border 0.2s;
}

.linkbutton p a:first-child img{
	border-radius: 60px;
	margin-right: 40px;
}


.linkbutton:hover {
	border: 2px solid black;
}

.linkbutton:hover p {
	bottom: 0;
}

.linkbutton:hover p img {
	opacity: 1;
	border: 4px solid #00000033;
}

.linkbutton:hover h4 {
	margin-top: -10px;
	opacity: 0;
}

.linkbutton p img:hover {
	border: 4px solid #000000dd;
}

.buttonholder h3 {
	margin-left: 20px;
}

li {
	margin-bottom: 10px;
}

.textbod, .textbodInput {
	background-image: url("../images/background1.jpg");
}
.topbody{
	margin: 20px auto;
	background: #ffffff9A;
	border-radius: 50px;
	width: 485px;
}

.vgncolumn .topsholder {
	margin-top: 350px;
}


.jshcolumn .about {
	margin-top: 322px;
}

.topbody .top > img{
	width: 477px;
	border: 4px solid #000000aa;
	border-radius: 50px;
}

.topbody > p {
	font-size: 36px;
	padding-top: 20px;
    margin: 10px 25px;
	font-weight: 600;
}

.top {
	position: relative;
	width: 485px;
	height: 485px;
}

.top > div {
	position: absolute;
	width: 477px;
	height: 477px;
	top: 0;
	left:0;
	background: #ffffff88;
	border-radius: 50px;
	border: 4px solid #000000bb;
}

.top .rating {
	position: absolute;
	font-size: 40px;
	margin: 0px 20px;
	margin-top: 30%;
	line-height: 20px;
	top: 0;
	transition: 0.5s;
}

.top .rating a{
	font-size: 20px;
	margin: 0px;
}

.top div img {
	width: 40px;
}

.top h5 {
	font-weight: normal;
	font-size: 28px;
	text-align: justify;
	margin: 15% 10px;
}

.top .unhovered {
	position: relative;
	margin: 10px 10px;
	transition: 0.3s;
	z-index: 1;
	margin-top: 50%;
}

.top .hovered{
	opacity: 0;
	transition: top 0.5s, opacity 1s;
	position: absolute;
	top: 174px;
}

.top .unhovered:hover {
	opacity: 0;
}

.top .unhovered:hover + .hovered {
	opacity: 1;
	top: -16px;
}

.top .unhovered:hover ~ .rating {
	top: -200px;
	opacity: 0;
}

.about {
	margin: auto;
	width: 485px;
}

.mobile, .mobilem{
	display: none;
}

.topheader{
	margin: auto;
	background: #ffffff9A;
	border-radius: 50px;
	font-size: 36px;
	padding: 20px;
	text-align: center;
	font-weight: 600;
}

.textbod .topheader {
	width: 445px;
}

.textbodInput {
	padding: 20px;
	padding-bottom: 200px;
}

.textbodInput .topheader {
	margin: 0px 100px;
}

.inputBody form{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.topthrees, .inputRating, .inputSubmit input{
	padding: 20px;
	font-size: 28px;
	font-weight: bold;
	border-radius: 60px;
	border: none;
	background: #ffffff9A;
	min-width: 90%;
}

.inputBody textarea {
	padding: 20px 50px;
	font-size: 14px;
	margin-right: 20px;
	border-radius: 60px;
	border: none;
	background: #ffffff9A;
	width: 80%;
	height: 155px;
	resize: none;
	font-family: arial;
}

.inputBody {
	background: linear-gradient(
          rgba(200, 200, 100, 0.2), 
          rgba(50, 50, 100, 0.2)
		), url("../images/background1.jpg");
	background-size: 700px;	
	margin: 25px 100px;
	padding: 30px 50px;
	border-radius: 50px;
}

.inputRating{
	max-width: 200px;
	padding: 0px;
	margin-top: 50px;
}

.inputSubmit input{
	margin-top: 50px;
}

.inputRating input{
	padding: 20px 0px;
	font-size: 28px;
	font-weight: bold;
	height: 30px;
	max-width: 40px;
	margin-left: 25px;
	background: #00000000;
	text-align: right;
	border: none;
}


form .divider {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media screen and (max-width:970px) {
	.buttonholder{
		grid-template-columns: 1fr;
	}
	
	.vgncolumn .topsholder {
	margin-top: 50px;
	}

	.jshcolumn .about {
	margin-top: 22px;
	}
	
	.mobile {
		display: block;
	}
	
	.mobilem {
		display: inline-block;
	}
	
	.jshcolumn .about{
		display: none;
	}
	
	.vgncolumn .linkbutton {
		display: none;
	}
	
	.linkbutton:first-child p a:first-child img{
		display: none;
	}
	
	.linkbutton p .mobilem{
	border-radius: 60px;
	margin-right: 40px;
	}
	
	.non-mobile {
		display: none;
	}
	
	.inputBody form{
		grid-template-columns: 1fr;
	}
	
	select, textarea, form .divider {
		margin: auto;
		margin-top: 20px;
	}
	
	.divider .inputRating, .divider .inputSubmit input{
		margin-top: 20px;
	}
	
	form .tophrees{
		width: 100%;
	}
	
	form .divider {
		margin-top: 0;
	}
	
	.inputBody {
		padding-left: 20px;
	}
	
	.textbodInput .topheader, .inputBody {
		margin: 25px 20px;
	}
}

